bertopic==0.17.0
datasets==4.0.0
hdbscan==0.8.40
huggingface_hub==0.34.4
krippendorff==0.8.2
matplotlib==3.10.8
numpy==2.4.3
pandas==3.0.1
python-dotenv==1.2.2
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentence_transformers==4.1.0
spacy==3.8.7
statsmodels==0.14.5
textstat==0.7.10
torch==2.7.0
umap_learn==0.5.7
